.DropdownButton {
  height: 100%;
}

.DropdownButton-panel {
  z-index: 1;
  position: relative;
  float: right;
  right: 0;
  top: 0;
  overflow: hidden;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.3s ease-out;
}

.DropdownButton.expanded .DropdownButton-panel {
  transform: scaleY(1);
}
